[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.org/project/PyPasserer/"
verify_ssl = true
name = "pypi-702"

[[source]]
url = "https://https://pypi.org/project/PyPasserer"
verify_ssl = true
name = "https"

[packages]
pypass = {path = ".", editable = true}
pytest = "*"

[dev-packages]

[requires]
python_version = "3.13"
